# Compiled class file
*.class
target
*.java~
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# project/IDE settings
.idea
*.hcl
*.kms
dev_ops/.terraform/modules/irsa-ebs-csi/
dev_ops/.terraform/modules/modules.json
*.exe
*.txt
dev_ops/.terraform/modules/eks/
dev_ops/.terraform/modules/vpc/
dev_ops/EKS/.terraform/modules/eks/
dev_ops/EKS/.terraform/modules/irsa-ebs-csi/
dev_ops/EKS/.terraform/modules/vpc/
dev_ops/nginix_dev/terraform.tfstate.backup
dev_ops/jenkins/aws/dist/_awscrt.abi3.so
dev_ops/jenkins/aws/dist/_cffi_backend.cpython-312-x86_64-linux-gnu.so
dev_ops/jenkins/aws/dist/_ruamel_yaml.cpython-312-x86_64-linux-gnu.so
dev_ops/jenkins/aws/dist/aws
dev_ops/jenkins/aws/dist/aws_completer
dev_ops/jenkins/aws/dist/awscli/botocore/cacert.pem
dev_ops/jenkins/aws/dist/awscli/botocore/.changes/next-release/api-change-connect-59117.json
dev_ops/jenkins/aws/dist/awscli/botocore/.changes/next-release/api-change-connect-59117.json
dev_ops/jenkins/aws/dist/awscli/botocore/data/accessanalyzer/2019-11-01/endpoint-rule-set-1.json
dev_ops/jenkins/aws/dist/awscli/botocore/data/accessanalyzer/2019-11-01/paginators-1.sdk-extras.json
*.json
dev_ops/jenkins/aws/dist/awscli/customizations/wizard/wizards/dynamodb/new-table.yml
dev_ops/jenkins/aws/dist/awscli/customizations/wizard/wizards/events/new-rule.yml
dev_ops/jenkins/aws/dist/awscli/customizations/wizard/wizards/iam/new-role.yml
*.yml
*.rst
*.so
*.css
*.sty
dev_ops/jenkins/aws/dist/docutils/writers/latex2e/titlepage.tex
*.tex
*.odt
dev_ops/jenkins/aws/THIRD_PARTY_LICENSES
dev_ops/jenkins/aws/README.md
dev_ops/jenkins/aws/dist/awscli/customizations/sso/index.html
*.index
dev_ops/jenkins/aws/dist/docutils/writers/s5_html/themes/big-black/__base__
dev_ops/jenkins/aws/dist/docutils/writers/s5_html/themes/default/slides.js
dev_ops/jenkins/aws/dist/libbz2.so.1
*.6
*.1
*.5
*.0
dev_ops/jenkins/aws/install
dev_ops/jenkins/aws/dist/docutils/writers/s5_html/themes/medium-black/__base__
dev_ops/jenkins/aws/dist/docutils/writers/s5_html/themes/small-black/__base__
